html{
  overflow-x: hidden;
}
nav {
  font-size: larger;
  font-weight: 500;
  box-shadow: 1px 1px 10px gray;
}
nav a:hover{
  text-shadow: 1px 1px 3px gray;
}
/* home screen wide page */
#home_screen{
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  /* background-size: contain; */
  background-size:cover;
  background-clip:content-box;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('./Images/pexels-sora-shimazaki-5926382.jpg'); */
  background-image: url('./Images/pexels-artempodrez-4884105.jpg');
  /* background-image: url('./Images/pexels-mart-production-8217305.jpg'); */


}



/* ---------------Home------------- */
#home_div {
  margin: auto auto;
  text-align: center;
  width: 80%;
  background-repeat: no-repeat;
  background-size:contain;
  /* background-image: url('./Images/pexels-sora-shimazaki-5926382.jpg'); */
}
#home_div h1 {
  /* text-shadow: 5px 5px 5px rgb(104, 104, 104); */
  font-weight: bold;
  font-size: 5vw;
  transition: 1s;
}
#home_div h1:hover {
  letter-spacing: 10px;
  background-color: rgb(205, 205, 205);
  border-radius: 10px;
}
#home_h2 {
  font-style: italic;
  transition: 1s;
  border: 1px solid rgb(160, 160, 160);
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}
#home_h2:hover {
  letter-spacing: normal;
  text-shadow: none;
}

#home_div img {
  width: 25vw;
}

#navbar_theme_toggle {
  cursor: pointer;
  right: 0;
}

/*--------------- skills-------------- */
h1 {
  text-align: center;
  transition: 1s;
  letter-spacing: 5px;
}
h1:hover {
  letter-spacing: 10px;
  text-shadow: 5px 5px 5px gray;
}

#skills_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#skills_div .container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 20px auto;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
}
#programming_container {
  width: 50%;
}
#skills_div .container .single_skill_card {
  width: 8%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #c0c0c0;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px;
  transition: 0.7s;
  cursor: pointer;
}
#skills_div .container .single_skill_card:hover {
  box-shadow: 15px 15px 25px rgb(148, 148, 148);
  background-color: black;
  color: white;
}
#skills_div .container .single_skill_card img {
  width: 100%;
  margin: auto auto;
}
#skills_div .container .single_skill_card label {
  font-weight: bold;
  padding-top: 10px;
  margin-top: auto;
}

.profiles_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 20px auto;
  border-radius: 20px;
}
.profiles_container .single_profile {
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly; */
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  transition: 0.7s;
  border: 1px solid #c0c0c0;
  padding: 5px;
}
.profiles_container .single_profile:hover {
  box-shadow: 15px 15px 35px rgb(104, 104, 104);
  border: none;
}
.profiles_container .single_profile img {
  width: 100%;
}
.profiles_container .single_profile h2 {
  text-decoration: none;
  font-size: 30px;
  vertical-align: text-top;
  margin-top: 10px;
}
.profiles_container a {
  text-decoration: none;
  color: black;
}

/* ----- bootstrap modifications -------------*/

.container h1 {
  text-align: center;
}
/* ------  experience  ------- */

h2 {
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
  transition: 1s;
}

h2:hover {
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px gray;
}

p.footer {
  margin-bottom: 20px;
  /* color: #999999; */
  font-size: 18px;
  text-align: center;
}

/* ------------Timeline------------ */
.timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;
  font-weight: 300;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background: #c0c0c0;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc(100% - 25px);
  width: -moz-calc(100% - 25px);
  width: -webkit-calc(100% - 25px);
  float: left;
  border: 1px solid #c0c0c0;
  position: relative;
  border-radius: 5px;
  transition: 0.7s;
  cursor: pointer;
}
.timeline > li > .timeline-panel:hover {
  box-shadow: 25px 25px 50px rgb(104, 104, 104);
  border: none;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  width: 24px;
  height: 24px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  z-index: 100;
}
.timeline-inverted{
  margin-top: 150px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #ff0000 !important;
}
.timeline-badge a:hover {
  color: #ff0000 !important;
}
.timeline-title {
  margin-top: 0;
  color: #ff0000;
}
.timeline-heading h4 {
  margin-top: 10px;
  font-weight: 600;
  padding: 0 15px;
  color: rgb(0, 108, 151);
}
.timeline-heading h5 {
  font-weight: 400;
  padding: 0 15px;
  color: rgb(166, 166, 166);
  font-style: italic;
}
.timeline-body h6 {
  padding: 10px 15px;
  margin-bottom: 0;
  font-style: italic;
}
.timeline-body > p,
.timeline-body > ul {
  padding: 10px 15px;
  margin-bottom: 0;
}

.timeline-body li {
  font-weight: 400;
  list-style: disc;
}

.timeline-footer {
  padding: 5px 15px;
  color: #959595;
  font-weight: 600;
  font-style: italic;
}
.timeline-footer p {
  margin-bottom: 0;
}
.timeline-footer > a {
  cursor: pointer;
  text-decoration: none;
}
.timeline > li.timeline-inverted {
  float: right;
  clear: right;
}
.timeline > li:nth-child(2) {
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
  left: -12px;
}
.no-float {
  float: none !important;
}
@media (max-width: 767px) {
  .form-check {
    visibility: hidden;
  }
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: -webkit-calc(100% - 65px);
  }
  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: 28px;
  }
}


/* extra theme */
/* [data-bs-theme="blue"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};
} */

#footer_profiles{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

#footer_profiles img{
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  margin-right: 10px;
  transition: 0.5s;
  /* background-color: gray; */
}

#footer_profiles img:hover{
  /* box-shadow: 2px 2px 10px gray; */
  -webkit-filter: drop-shadow(5px 5px 5px gray);
  filter: drop-shadow(5px 5px 5px gray);
}